In [1]:
import pandas as pd
df = pd.read_csv(r'spam.csv',encoding='ISO-8859-1')
df.rename(columns = {'v1':'class_label', 'v2':'message'}, inplace = True)
df.drop(['Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4'], axis = 1, inplace = True)
df

     class_label                                            message
0            ham  Go until jurong point, crazy.. Available only ...
1            ham                      Ok lar... Joking wif u oni...
2           spam  Free entry in 2 a wkly comp to win FA Cup fina...
3            ham  U dun say so early hor... U c already then say...
4            ham  Nah I don't think he goes to usf, he lives aro...
...          ...                                                ...
5567        spam  This is the 2nd time we have tried 2 contact u...
5568         ham              Will Ì_ b going to esplanade fr home?
5569         ham  Pity, * was in mood for that. So...any other s...
5570         ham  The guy did some bitching but I acted like i'd...
5571         ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [2]:

df['class_label'].value_counts()

ham     4825
spam     747
Name: class_label, dtype: int64

In [3]:
df_spam = df[df.class_label=='spam']
df_spam

     class_label                                            message
2           spam  Free entry in 2 a wkly comp to win FA Cup fina...
5           spam  FreeMsg Hey there darling it's been 3 week's n...
8           spam  WINNER!! As a valued network customer you have...
9           spam  Had your mobile 11 months or more? U R entitle...
11          spam  SIX chances to win CASH! From 100 to 20,000 po...
...          ...                                                ...
5537        spam  Want explicit SEX in 30 secs? Ring 02073162414...
5540        spam  ASKED 3MOBILE IF 0870 CHATLINES INCLU IN FREE ...
5547        spam  Had your contract mobile 11 Mnths? Latest Moto...
5566        spam  REMINDER FROM O2: To get 2.50 pounds free call...
5567        spam  This is the 2nd time we have tried 2 contact u...

[747 rows x 2 columns]

In [ ]:
spam_list= df_spam['message'].tolist()
filtered_spam = filtered_spam.lower()

In [8]:
import os
from wordcloud import WordCloud
from PIL import Image
comment_mask = np.array(Image.open("comment.png"))
wordcloud = WordCloud(max_font_size = 160, margin=0, mask = comment_mask, background_color = "white", colormap="Reds").generate(filtered_spam)

ModuleNotFoundError: No module named 'wordcloud'